In [1]:
print("Hello, world!")

Hello, world!

In [4]:
##Data types 
print("Hello world")

Hello world

#Data types

# string is either double quotes or single quotes

In [5]:
# string is either double quotes or single quotes 
test = "hello"

In [8]:
print(test)

hello

In [9]:
type(test)

str

In [10]:
#numeric types come in two forms 
#integers and floats 

#integer
number =10

#float
floaty=5.4

In [11]:
number + floaty

15.4

In [12]:
test + test

'hellohello'

In [13]:
10 +6

16

In [14]:
7**2

49

In [15]:
15 % 2

1

In [2]:
#list 

my_list = [1, 2, 3.2]

In [3]:
print(my_list)

[1, 2, 3.2]

In [4]:
print(my_list[0])

1

In [5]:
print(my_list[-1])

3.2

In [6]:
print(my_list[1:])

[2, 3.2]

In [11]:
#dictionaries
my_dict = {"one": 1, "two": 2, "three": 3}